<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home'%}">
      <img src="https://img.icons8.com/doodle/48/000000/alien--v1.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      GamesCam
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header" style="color: white !important;">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="color: white !important;">
          <img src="https://img.icons8.com/doodle/48/000000/alien--v1.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          GamesCam</h5>
        <button type="button" class="btn-close text-reset bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'empresa'%}">Empresas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sobre'%}">Sobre</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" >Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cadastrar' %}" >Cadastrar</a>
          </li>
          {% endif %}
        </ul>
        {% if 'user' not in request.path %}
        <form action="{% url 'buscar' %}" method="get" class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Buscar Game" name="buscar">
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
<br><br>