{%extends 'base.html' %}
{% load static %}

{%block 'titulo' %} Sobre nós {%endblock%}

{%block 'conteudo'%}
<div class="container">
    <br>
    <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Aqui você encontra seus jogos favoritos!</h2>
        <p>Se você esta procurando os jogos mais famosos e quer descobrir qual jogo esta hypado no momento, você esta no lugar certo!</p>
    </div>

    <br>

    <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Nossa Empresa é a melhor</h2>
          <p>Somos uma nova empresa brasileira focada em vender os jogos que os brasileiros estão a procura</p>
       <button class="btn btn-outline-light" type="button">Sobre</button>
    </div>

    <br>

</div>
{%endblock%}

{%block 'scripts' %}

{%endblock%}

